Repository phantom-profile/storages_manage_service, pull requests merged in 2023-08, with the labels that each got.

#22 Task 22 - currency converter client
  lib/clients/__init__.py
  lib/clients/base_client.py
  lib/clients/currencies_client.py
  lib/clients/weather_client.py
  lib/weather_service.py
  storage/views.py
Labels: lib

#23 Task 23 - add currencies convertor
  lib/forms_factory.py
  lib/users_services.py
  static/ajax_tools.js
  storage/templates/storage/index.html
  users/forms.py
  users/templates/profile.html
  users/urls.py
  users/views.py
Labels: django-backend, frontend, lib

#24 Task 24 - render storages without reload
  static/ajax_tools.js
  storage/templates/storage/index.html
  storage/templates/storage/storages_table.html
  storage/views.py
Labels: django-backend, frontend

#26 Task 20 creating payment client
  lib/clients/payment_client.py
  lib/logger.py
  static/Untitled Diagram.drawio
Labels: django-backend

#27 refactored logger
  lib/logger.py
Labels: lib

#28 Task 28 - add current storage load
  storage/forms.py
  storage/migrations/0002_storage_current_load_alter_truck_exploitation_finish_and_more.py
  storage/models.py
  storage/templates/storage/storages_table.html
Labels: django-backend

#29 Task 29 - make flash messages
  lib/notificators.py
  static/ajax_tools.js
  storage/views.py
  templates/alerts.html
  templates/base.html
Labels: frontend, lib

#31 Task 30 - add flash to weather api
  lib/clients/base_client.py
  lib/clients/weather_client.py
  lib/storages_services.py
  static/ajax_tools.js
  storage/templates/storage/index.html
  storage/templates/storage/storages_table.html
  storage/views.py
  templates/alerts.html
Labels: django-backend, lib
